<div class="bg-dark text-white min-vh-100 w-100 d-flex flex-column px-5">

  <nav class="border-bottom border-white d-flex justify-content-between align-items-center py-2">
    <h1><a [routerLink]="'/'">ULL</a></h1>
    <button class="btn btn-light rounded-pill" [routerLink]="'/login'">Déjà partenaire ?</button>
  </nav>

  <div class="bg-white my-4 p-3 flex-grow-1 d-flex"> <!-- White border around the image + growing container -->
    <div class="bg-img-wedding shadow-sm flex-grow-1"> <!-- Image background -->
      <div class="row py-3 justify-content-between"> <!-- Container for the column, placing them opposite sides -->
        <div class="col-xl-7 mb-4"> <!-- First column with call to action text -->
          <div class="mx-5 p-3 pe-5 bg-transparent-dark rounded">
            <h1 class="fs-xl fw-bold me-0">Donnez des prestation <span class="text-secondary">mémorables</span> avec l'application ULL</h1>
            <p class="fs-1 fw-light">Faites croitre votre audience en restant concentré sur <span class="text-secondary">l'essentiel</span></p>
          </div>
        </div>
        <div class="col-xl-5"> <!-- Second column with form -->
          <div class="mx-5 px-5 py-4 bg-white rounded text-dark">
            <h1 class="fw-light mb-4">Inscrivez-vous</h1>
            <form [formGroup]="registerForm" (ngSubmit)="register()">

              <div class="mb-3">
                <input placeholder="Nom de l'entreprise" type="text" formControlName="company_name" required class="border-0 bg-gray p-2 w-100 fs-4">
                <div *ngFor="let validation of validation_messages.company_name">
                  <p *ngIf="invalidInput('company_name', validation.type)" class="text-danger">{{validation?.message}}</p>
                </div>
              </div>

              <div class="mb-3">
                <input placeholder="Adresse e-mail" type="email" formControlName="email" required class="border-0 bg-gray p-2 w-100 fs-4">
                <div *ngFor="let validation of validation_messages.email">
                  <p *ngIf="invalidInput('email', validation.type)" class="text-danger">{{validation?.message}}</p>
                </div>
              </div>

              <div class="mb-3">
                <div formGroupName="passwords" id="passwords">
                  <input placeholder="Mot de passe" type="password" formControlName="password" required autocomplete="new-password" class="mb-1 border-0 bg-gray p-2 w-100 fs-4">
                  <input placeholder="Confirmer le mot de passe" type="password" formControlName="confirm_password" required autocomplete="new-password" class="border-0 bg-gray p-2 w-100 fs-4">
                </div>
                <div>
                  <div *ngFor="let validation of validation_messages.passwords">
                    <p *ngIf="invalidInput('passwords', validation.type)" class="text-danger">{{validation?.message}}</p>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <input placeholder="Numéro de téléphone" type="tel" formControlName="phone" required class="border-0 bg-gray p-2 w-100 fs-4">
                <div *ngFor="let validation of validation_messages.phone">
                  <p *ngIf="invalidInput('phone', validation.type)" class="text-danger">{{validation?.message}}</p>
                </div>
              </div>

              <div class="mb-3">
                <input placeholder="Numéro de SIREN" type="text" formControlName="siren" required class="border-0 bg-gray p-2 w-100 fs-4">
                <div *ngFor="let validation of validation_messages.siren">
                  <p *ngIf="invalidInput('siren', validation.type)" class="text-danger">{{validation?.message}}</p>
                </div>
              </div>

              <p class="text-muted">En continuant, vous acceptez les <a class="link-info text-decoration-underline">Conditions d'utilisation</a> d'ULL et vous reconnaissez avoir lu la <a class="link-info text-decoration-underline">Politique de confidentialité</a></p>
              <button class="btn btn-primary rounded-0 fs-3" id="registerButton" type="submit" [disabled]="!registerForm.valid">Créer un compte</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
