.bg-img-birthday {
  background-image: url("/assets/images/cupcakes-gc0620a627_1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  div {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }

  .bg-dark {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0.1rem !important;
    padding-right: 0.1rem !important;
  }
}
