<div class="bg-dark text-white min-vh-100 w-100 d-flex flex-column px-5">

  <nav class="border-bottom border-white d-flex justify-content-between align-items-center py-2">
    <h1><a [routerLink]="'/'">ULL</a></h1>
    <button class="btn btn-light rounded-pill" [routerLink]="'/register'">S'inscrire</button>
  </nav>

  <div class="bg-white my-4 p-3 flex-grow-1 d-flex"> <!-- White border around the image + growing container -->
    <div class="bg-img-birthday shadow-sm flex-grow-1 d-flex align-items-center justify-content-center"> <!-- Image background -->
      <div class="bg-white text-dark rounded-3 p-5 col-md-4"> <!-- Form container -->
        <h1 class="fw-light">Connexion</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="mb-3">
            <input placeholder="Adresse e-mail" type="email" formControlName="email" required class="border-0 bg-gray p-2 w-100 fs-4">
            <div *ngFor="let validation of validation_messages.email">
              <p *ngIf="invalidInput('email', validation.type)" class="text-danger">{{validation?.message}}</p>
            </div>
          </div>

          <div class="mb-3">
            <input placeholder="Mot de passe" type="password" formControlName="password" required autocomplete="new-password" class="mb-1 border-0 bg-gray p-2 w-100 fs-4">
            <div *ngFor="let validation of validation_messages.password">
              <p *ngIf="invalidInput('password', validation.type)" class="text-danger">{{validation?.message}}</p>
            </div>
          </div>

          <p *ngIf="invalidCredentialsFlag" class="alert-danger p-1 my-2">Adresse e-mail ou mot de passe invalide</p>

          <div class="d-flex flex-wrap align-items-center">
            <button class="btn btn-primary rounded-0 fs-3 me-3" id="registerButton" type="submit" [disabled]="!loginForm.valid">Se connecter</button>
            <a [routerLink]="'/resetPassword'" class="text-info small">Mot de passe oublié ?</a>
          </div>
        </form>
        <div *ngIf="newAccount" class="alert alert-success mt-3">
          Votre compte a bien été créé ! Veuillez vous identifier.
        </div>
      </div>
    </div>
  </div>
</div>
