<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978419384807-9id35scqb375a1415q1d2jrjb1mkfbkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978419384807-9id35scqb375a1415q1d2jrjb1mkfbkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>978419384807-bmti8ln21uktc69jit0s50b58ssnrvek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZLVDofnoj_pRSVOvHxvNjwsN8PSkR2O0</string>
	<key>GCM_SENDER_ID</key>
	<string>978419384807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ull.topla.mobile</string>
	<key>PROJECT_ID</key>
	<string>ull-topla</string>
	<key>STORAGE_BUCKET</key>
	<string>ull-topla.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:978419384807:ios:0ace5ee574bdb9c9123d42</string>
</dict>
</plist>
