<!-- If this link comes from the e-mail, it will have a reset token so we present the "new password" dialog -->
<div *ngIf="resetToken; else noToken" class="d-flex flex-column align-items-center justify-content-center m-2 mt-5">
  <div class="col-md-6 p-3 bg-light shadow rounded d-flex flex-column justify-content-start align-items-center">
    <h1 class="fw-bold my-3">ULL</h1>
    <p class="fs-4">Veuillez entrer votre nouveau mot de passe</p>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetPassword()" class="col-md-7">
      <div class="mb-3">
        <div formGroupName="passwords" id="passwords">
          <input placeholder="Mot de passe" type="password" formControlName="password" required autocomplete="new-password" class="mb-1 border-0 bg-gray p-2 w-100">
          <input placeholder="Confirmer le mot de passe" type="password" formControlName="confirm_password" required autocomplete="new-password" class="border-0 bg-gray p-2 w-100">
        </div>
        <div>
          <div *ngFor="let validation of validation_messages.passwords">
            <p *ngIf="invalidInput('passwords', validation.type)" class="text-danger">{{validation?.message}}</p>
          </div>
        </div>
      </div>

      <button class="btn btn-primary rounded-0" id="resetPasswordButton" type="submit" [disabled]="!resetPasswordForm.valid">Réinitialiser mon mot de passe</button>
    </form>
  </div>
  <div class="col-md-6 p-3 mt-3 alert-danger rounded shadow" *ngIf="invalidRequestFlag">
    <p>Veuillez vous assurer que toutes les informations fournies sont correctes et réessayer.</p>
  </div>
  <div class="col-md-6 p-3 mt-3 alert-danger rounded shadow" *ngIf="invalidTokenFlag">
    <p>Veuillez vous assurer que l'URL correspond bien au lien de l'e-mail et réessayer.</p>
  </div>
  <div class="col-md-6 p-3 mt-3 alert-danger rounded shadow" *ngIf="unknownErrorFlag">
    <p>Une erreur est survenue, veuillez réessayer plus tard et contacter le support si le problème persiste.</p>
  </div>
</div>

<!-- However, if this comes from the "forgotten password" link, then there is no token and so we present the "email address" dialog -->
<ng-template #noToken>
  <div class="d-flex flex-column align-items-center justify-content-center m-2 mt-5">
    <div class="col-md-6 p-3 bg-light shadow rounded d-flex flex-column justify-content-start align-items-center">
      <h1 class="fw-bold my-3">ULL</h1>
      <p class="fs-4">Veuillez entrer votre adresse e-mail</p>

      <form [formGroup]="emailForm" (ngSubmit)="sendEmail()" class="col-md-7">
        <div class="mb-3">
          <input placeholder="Adresse e-mail" type="email" formControlName="email" required class="border-0 bg-gray p-2 w-100 ">
          <div *ngFor="let validation of validation_messages.email">
            <p *ngIf="invalidInput('email', validation.type)" class="text-danger">{{validation?.message}}</p>
          </div>
        </div>

        <button class="btn btn-primary rounded-0 mb-3" id="emailButton" type="submit" [disabled]="!emailForm.valid">Récupérer mon mot de passe</button>
        <p *ngIf="emailSent" class="fst-italic">Un e-mail a été envoyé à l'adresse fournie. S'il n'apparait pas, veuillez vérifier vos spam et contacter notre support si le problème persiste.<br>Vous pouvez fermer cette page.</p>
      </form>
    </div>

    <div class="col-md-6 p-3 mt-3 alert-danger rounded shadow" *ngIf="unknownErrorFlag">
      <p>Une erreur est survenue, veuillez réessayer plus tard et contacter le support si le problème persiste.</p>
    </div>
  </div>
</ng-template>
