<nav class="navbar navbar-dark navbar-expand-lg bg-dark text-white px-5 py-3">
  <!-- Menu mobile -->
  <div class="navbar-toggler flex-grow-1 border-0" data-toggle="collapse" data-target="#collapsibleNavbar" id="small-menu">
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-5">
        <h1 class="mx-2 text-white"><a [routerLink]="''">ULL</a></h1>
      </li>
      <div dropdown class="nav-item align-self-center">
        <button id="button-basic" dropdownToggle type="button" class="btn btn-light" aria-controls="dropdown">
          <fa-icon [icon]="faBars" id="burger-icon"></fa-icon>
        </button>
        <ul id="dropdown" *dropdownMenu class="dropdown-menu bg-light p-2">
          <li>
            <a [routerLink]="'nos_services'" class="nav-link text-dark dropdown-item">Nos services</a>
          </li>
          <li>
            <a [routerLink]="'fonctionnement'" class="nav-link text-dark">Fonctionnement de ULL</a>
          </li>
          <li>
            <a [routerLink]="'a_propos'" class="nav-link text-dark">À propos de nous</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li class="mb-2">
            <button class="btn btn-outline-dark rounded-pill w-100" [routerLink]="'login'">Connexion</button>
          </li>
          <li>
            <button class="btn btn-dark rounded-pill w-100" [routerLink]="'register'">S'inscrire</button>
          </li>
        </ul>
      </div>
    </ul>
  </div>

  <!-- Menu Desktop -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav me-auto align-items-center">
      <li class="nav-item">
        <h1 class="mx-2"><a [routerLink]="''">ULL</a></h1>
      </li>
      <li class="nav-item">
        <a [routerLink]="'nos_services'" class="mx-2">Nos services</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'fonctionnement'" class="mx-2">Fonctionnement de ULL</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'a_propos'" class="mx-2">À propos de nous</a>
      </li>
    </ul>
    <button class="mx-2 px-4 btn btn-outline-light rounded-pill" [routerLink]="'login'">Connexion</button>
    <button class="mx-2 px-4 btn btn-light rounded-pill" [routerLink]="'register'">S'inscrire</button>
  </div>
</nav>

<!-- ULL explanation banner -->
<div class="cocktail-background-image container-fluid p-5">
    <div class="rounded rounded-3 bg-light min-vh-50 col-xxl-3">
      <div class="text-center container">
        <div class="row">
          <div class="col explain-category pt-2"
               *ngFor="let pannel of explainPannels; let i = index"
               (click)="selected = i"
               [ngClass]="{'border-end': i !== explainPannels.length - 1, 'bg-primary text-white': i === selected}">
            <p>{{pannel.category}}</p>
          </div>
        </div>
      </div>
      <hr class="m-0">
      <div class="p-3">
        <h2 class="explain-title">{{explainPannels[selected].title}}</h2>
        <p class="explain-text">{{explainPannels[selected].text}}</p>
      </div>
    </div>

    <div class="p-2  d-flex justify-content-end align-items-end flex-wrap">
      <img class="store-icon me-2" src="assets/images/Download_on_the_App_Store_Badge.svg" alt="Télécharger sur l'App Store">
      <img class="store-icon" src="assets/images/google-play-badge.svg" alt="Disponible sur Google Play">
    </div>
</div>
