<nav class="navbar navbar-dark navbar-expand-lg bg-dark text-white px-5 py-3">
  <!-- Menu mobile -->
  <div class="navbar-toggler flex-grow-1 border-0" data-toggle="collapse" data-target="#collapsibleNavbar" id="small-menu">
    <ul class="navbar-nav flex-row">
      <li class="nav-item me-5">
        <h1 class="mx-2 text-white"><a [routerLink]="'/'">ULL</a></h1>
      </li>
      <div dropdown class="nav-item align-self-center">
        <button id="button-basic" dropdownToggle type="button" class="btn btn-light" aria-controls="dropdown">
          <fa-icon [icon]="faBars" id="burger-icon"></fa-icon>
        </button>
        <ul id="dropdown" *dropdownMenu class="dropdown-menu bg-light p-2">
          <li>
            <a [routerLink]="'/nos_services'" class="nav-link text-dark dropdown-item">Nos services</a>
          </li>
          <li>
            <a [routerLink]="'/fonctionnement'" class="nav-link text-dark">Fonctionnement de ULL</a>
          </li>
          <li>
            <a [routerLink]="'/a_propos'" class="nav-link text-dark">À propos de nous</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li class="mb-2">
            <button class="btn btn-outline-dark rounded-pill w-100" [routerLink]="'/login'">Connexion</button>
          </li>
          <li>
            <button class="btn btn-dark rounded-pill w-100" [routerLink]="'/register'">S'inscrire</button>
          </li>
        </ul>
      </div>
    </ul>
  </div>

  <!-- Menu Desktop -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav me-auto align-items-center">
      <li class="nav-item">
        <h1 class="mx-2"><a [routerLink]="'/'">ULL</a></h1>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/nos_services'" class="mx-2">Nos services</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/fonctionnement'" class="mx-2">Fonctionnement de ULL</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/a_propos'" class="mx-2">À propos de nous</a>
      </li>
    </ul>
    <button class="mx-2 px-4 btn btn-outline-light rounded-pill" [routerLink]="'login'">Connexion</button>
    <button class="mx-2 px-4 btn btn-light rounded-pill" [routerLink]="'register'">S'inscrire</button>
  </div>
</nav>

<!-- ULL explanation banner -->
<div class="cocktail-background-image container-fluid p-5">
    <div class="rounded bg-light min-vh-50 col-xxl-3">
      <div class="text-center container">
        <div class="row">
          <div class="col explain-category pt-2"
               *ngFor="let pannel of explainPannels; let i = index"
               (click)="selected = i"
               [ngClass]="{'border-end': i !== explainPannels.length - 1, 'bg-primary text-white': i === selected}">
            <p>{{pannel.category}}</p>
          </div>
        </div>
      </div>
      <hr class="m-0">
      <div class="p-3">
        <h2 class="explain-title">{{explainPannels[selected].title}}</h2>
        <p class="explain-text">{{explainPannels[selected].text}}</p>
      </div>
    </div>

    <div class="p-2  d-flex justify-content-end align-items-end flex-wrap">
      <img class="store-icon me-2" src="assets/images/Download_on_the_App_Store_Badge.svg" alt="Télécharger sur l'App Store">
      <img class="store-icon" src="assets/images/google-play-badge.svg" alt="Disponible sur Google Play">
    </div>
</div>

<!-- Ambassadors -->
<h1 class="fw-bold m-5 fs-1 w-50">Découvrez les <span class="text-primary">professionnels</span> qui nous ont fait <span class="text-primary">confiance</span>.</h1>
<div class="container-fluid px-5">
  <div class="row mb-5">
    <figure class="col-md p-0 me-4 hover-img">
      <img alt="" src="../../../../assets/images/chef-gdaa51b2fa_1920.jpg" class="h-100"/>
      <figcaption>
        <h3>Lorem <br/>Ipsum</h3>
      </figcaption>
    </figure>
    <figure class="col-md p-0 hover-img">
      <img alt="" src="../../../../assets/images/audio-g4cfa9b9e7_1920.jpg" class="h-100"/>
      <figcaption>
        <h3>Lorem <br/>Ipsum</h3>
      </figcaption>
    </figure>
  </div>
  <div class="row mt-5">
    <figure class="col-md p-0 me-4 hover-img">
      <img alt="" src="../../../../assets/images/waitress-gff8ebb643_1920.jpg" class="h-100"/>
      <figcaption>
        <h3>Lorem <br/>Ipsum</h3>
      </figcaption>
    </figure>
    <figure class="col-md p-0 hover-img">
      <img alt="" src="../../../../assets/images/man-gfdabc5c17_1920.jpg" class="h-100"/>
      <figcaption>
        <h3>Lorem <br/>Ipsum</h3>
      </figcaption>
    </figure>
  </div>
</div>

<!-- Call to action buttons -->
<div class="my-5 mx-2 d-flex flex-wrap justify-content-around align-items-center">
  <div [routerLink]="'register'" class="bg-dark text-white p-3 mb-2 fs-2 fw-bold rounded-3 col-lg-3 d-flex align-items-center justify-content-between cursor-pointer">
    <p class="text-start m-0 me-2">Inscrivez-vous pour devenir partenaire</p>
    <fa-icon [icon]="faArrowRight" class="text-secondary fs-1"></fa-icon>
  </div>
  <div [routerLink]="" class="bg-dark text-white p-3 fs-2 fw-bold rounded-3 col-lg-3 d-flex align-items-center justify-content-between cursor-pointer">
    <p class="text-start m-0 me-2">Téléchargez l'application ULL</p>
    <fa-icon [icon]="faArrowRight" class="text-secondary fs-1"></fa-icon>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white d-flex justify-content-between align-items-center p-2">
  <div class="d-flex justify-content-between align-items-center col-lg-6 flex-wrap me-5">
    <p class="m-0">© 2022 ULL</p>
    <a [routerLink]="'confidentiality'">Confidentialité</a>
    <a [routerLink]="'cgu'">Conditions générales</a>
    <a [routerLink]="'a_propos'">Informations sur l'enteprise</a>
  </div>
  <div class="d-flex justify-content-end">
    <fa-icon [icon]="faLinkedin" class="fs-1 me-2 cursor-pointer"></fa-icon>
    <fa-icon [icon]="faInstagram" class="fs-1 me-2 cursor-pointer"></fa-icon>
    <fa-icon [icon]="faTwitter" class="fs-1 me-2 cursor-pointer"></fa-icon>
    <fa-icon [icon]="faFacebook" class="fs-1 me-2 cursor-pointer"></fa-icon>
  </div>
</footer>
