@import "../../../../styles.scss";

:host {
  @extend .bg-light, .rounded, .shadow, .mt-3, ;
  width: 400px !important;
  cursor: default;
}

.btn-light {
  background-color: #FFFFFF !important;
}

.square-div {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  overflow: hidden;
}
