<div class="d-flex flex-column px-2">
  <div class="d-flex align-items-center" [routerLink]="'/profile'">
    <div class="rounded-circle border border-white bg-white square-div me-2 cursor-pointer">
      <img [src]="environment.providerPicturesURL + profilePictureUrl" alt="Profile picture" class="h-100 w-100"/>
    </div>
    <div class="d-flex flex-column justify-content-center flex-grow-0">
      <h2>{{companyName}}</h2>
      <p>{{companyDescription}}</p>
    </div>
  </div>
  <hr>
  <h4>Gérer</h4>
  <a [routerLink]="'/editInfo'">Modifier vos informations</a>
  <a [routerLink]="'/editProfile'">Réorganiser votre profil</a>
  <a [routerLink]="'/editCategorization'">Modifier le référencement de votre entreprise</a>
  <hr>
  <h4>Compte</h4>
  <a [routerLink]="'/settings'">Paramètres et confidentialité</a>
  <a [routerLink]="">Assistance</a>
  <hr>
  <button class="align-self-center btn btn-light rounded-pill border w-75" (click)="disconnect()">Déconnexion</button>
</div>
